.old/
.debug/
.tmp/
.raw/

# python
__pycache__/
*.pyc

# R
.Rhistory

# tex
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*-blx.bib
*.bcf
*.nav
*.snm
*.vrb
*.run.xml
*.synctex
*.synctex.gz
*-converted-to.pdf

# windows
.DS_Store
